---
layout: default
title: People
---

<h2>Professor</h2>
<div class="people-item">
    <li class="person">
        <div class="img-container">
            <img src="{{ site.urlimg }}people/woohwan.jpg" alt="woohwan" class="person-img">
        </div>
        <div class="info">
            <h3>Woohwan Jung</h3>
            <p>Email: whjung@hanyang.ac.kr</p>
        </div>
    </li>
</div>

<h2>Ph.D students</h2>

<div class="people-container">
    {% for person in site.data.people_phd %}
      <div class="people-item">
        <li class="person">
            <div class="img-container">
                <img src="{{ site.urlimg }}{{ person.image }}" alt="{{ person.name }}" class="person-img">
            </div>
            <div class="info">
              <h3>{{ person.name }}</h3>
              <p>Email: {{ person.email }}</p>
              <p>Interests: {{ person.interests }}</p>
            </div>
          </li>
      </div>
    {% endfor %}
</div>


<h2>Master students</h2>

<div class="people-container">
    {% for person in site.data.people_master %}
      <div class="people-item">
        <li class="person">
            <div class="img-container">
                <img src="{{ site.urlimg }}{{ person.image }}" alt="{{ person.name }}" class="person-img">
            </div>
            <div class="info">
              <h3>{{ person.name }}</h3>
              <p>Email: {{ person.email }}</p>
              <p>Interests: {{ person.interests }}</p>
            </div>
          </li>
      </div>
    {% endfor %}
</div>

<h2>Undergraduate students</h2>

<div class="people-container">
    {% for person in site.data.people_undergraduate %}
      <div class="people-item">
        <li class="person">
            <div class="img-container">
                <img src="{{ site.urlimg }}{{ person.image }}" alt="{{ person.name }}" class="person-img">
            </div>
            <div class="info">
              <h3>{{ person.name }}</h3>
              <p>Email: {{ person.email }}</p>
              <p>Interests: {{ person.interests }}</p>
            </div>
          </li>
      </div>
    {% endfor %}
</div>

<h2>Alumni</h2>

<h3>2024</h3>
Jihoon Kim  (Master, 2024. 2.)  Ramply <br>
Minsu Ha  (Master, 2024. 2.)  (주) 커넥트브릭 <br>
Suah Lee  (Master, 2024. 2.) KT <br>
Nayeon Kim  (Master, 2024. 8.) <br>

<h3 class="t60">2022</h3>
Baljinnyam Baasan-Ochir  (Master, 2022. 8.)  INEEJI <br>