---
layout: framework
<!-- sidebar: category-list -->
---

<div class="row t60"></div>
	{% if page.widget1.image or page.widget1.video or page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}

	{% if page.widget2.image or page.widget2.video or page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}

	{% if page.widget3.image or page.widget3.video or page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}

    {{ content }}
</div><!-- /.row -->

<div class="articles">
    {% if page.banner == nil %}
      {% assign banner = page.title %}
    {% endif %}
  
    {{ content }}
  
    {% include views/pagination.html %}
</div>