---
layout: framework
<!-- sidebar: category-list -->
---

<div class="row t60">
    {% if page.banner == nil %}
      {% assign banner = page.title %}
    {% endif %}

    <h1>{{site.data.research_interests.widget1.title}}</h1>

	{% if site.data.research_interests['widget1']['image'] or site.data.research_interests['widget1']['video'] or site.data.research_interests['widget1']['title'] %}
		{% include views/frontpage-widget.html widget=site.data.research_interests.widget1 %}
	{% endif %}

	{% if site.data.research_interests['widget2']['image'] or site.data.research_interests['widget2']['video'] or site.data.research_interests['widget2']['title'] %}
    {% include views/frontpage-widget.html widget=site.data.research_interests.widget2 %}
	{% endif %}

	{% if site.data.research_interests['widget3']['image'] or site.data.research_interests['widget3']['video'] or site.data.research_interests['widget3']['title'] %}
    {% include views/frontpage-widget.html widget=site.data.research_interests.widget3 %}
	{% endif %}

    {{ content }}

</div>