---
layout: default
heading: 'Data Science Lab'
subheading: 'Hanyang University ERICA'
banner: 'default'
---

<div class="row t60">
    {% if page.banner == nil %}
      {% assign banner = page.title %}
    {% endif %}

	{% if site.data.research_interests.widget1.image or site.data.research_interests.widget1.['video'] or site.data.research_interests.widget1.title %}
		{% include views/frontpage-widget.html widget=site.data.research_interests.widget1 %}
	{% endif %}

	{% if site.data.research_interests.widget2.image or site.data.research_interests.widget2.['video'] or site.data.research_interests.widget2.title %}
    {% include views/frontpage-widget.html widget=site.data.research_interests.widget2 %}
	{% endif %}

	{% if site.data.research_interests.widget2.image or site.data.research_interests.widget3['video'] or site.data.research_interests.widget3.title %}
    {% include views/frontpage-widget.html widget=site.data.research_interests.widget3 %}
	{% endif %}

    <h2 class="font-size-h3 t10">Recent News</h2>
    [Oct 29. 2024] One paper is accepted at WACV 2025 👏.<br>
    [Sep 23. 2024] One paper is accepted at EMNLP 2024 👏.<br>
    [Jun 04. 2024] One paper is accepted at INTERSPEECH 2024 👏.<br>

    <h2 class="font-size-h3 t10">Grant</h2>
    <a href="https://aic.hanyang.ac.kr/about/greeting.php">Security Graduate Program (융합보안대학원)</a>, IITP(MSIT) , RS-2024-00423071 2024~2027<br>
    <a href="https://www.iitp.kr/kr/1/business/ctgrKAVInt.it">Applied AI Graduate Program (인공지능융합혁신인재양성)</a>, IITP (MSIT) RS-2022-00155885,  2022~2025<br>
    <a href="http://smartcity.hanyang.ac.kr/">BK21 Grant for Smart City (BK21교육연구단)</a>, NRF (MOE) 2020~2024<br>

    <p class="center-text">데이터사이언스 연구실은 열정있는 학생들의 지원을 기다리고 있습니다.</p>
    <p class="center-text">현재 모집중:  학부연구생, 석박사신입생, 박사후연구원</p>
    <p class="center-text">whjung@hanyang.ac.kr로 간단한 소개자료를 보내주시면 감사하겠습니다.</p>

    {{ content }}

</div>
