---
layout: default
---

<div class="row t10">
    {% if page.banner == nil %}
      {% assign banner = page.title %}
    {% endif %}

    <div>
      {% if site.data.research_interests.widget1.image or site.data.research_interests.widget1.video or site.data.research_interests.widget1.title %}
          {% include views/frontpage-widget.html widget=site.data.research_interests.widget1 %}
      {% endif %}
    </div>

    <h2 class="font-size-h3 t10">Recent News</h2>
    [Oct 29. 2024] One paper is accepted at WACV 2025 (Congratulation Kyungri Park!)👏.<br>
    [Sep 23. 2024] One paper is accepted at EMNLP 2024 (Congratulation Keonwoong Noh and Seokjin Oh) 👏.<br>
    [Jun 04. 2024] One paper is accepted at INTERSPEECH 2024 (Congratulation Jiwon Suh and Injae Na) 👏.<br>

    <h2 class="font-size-h3 t10">Grant</h2>
    <ul>
        <li>
          전주기적 위암관리를 위한 인공지능기반 통합형 의사결정지원시스템 개발, 암정복추진연구개발사업, 국립암센터, 2025~2027
        </li>
        <li>
          기업비밀 보안을 위한 LLM기반 특허문서작성보조기술 개발 프로젝트 보고서,
          <a href="https://aic.hanyang.ac.kr/education/core.php">
            Security Graduate Program (융합보안핵심인재양성)
          </a>, IITP, 2024~2027
        </li>
        <li>
          개인정보보호를 보장하는 멀티모달 안티피싱을 위한 경량화 모델 및 스플릿러닝 기술 개발, 정보보호국제공동연구, IITP, 2023~2025
        </li>
        <li>
          스마트 홈 기반 생활 케어 서비스 및 솔루션 개발, 중견기업 DNA 융합 산학협력 프로젝트, 한국산업기술진흥원, 2023~2024
        </li>
        <li>
          태양광 모듈 EL 검사 설비의 효율화를 위한 AI 기반 공정 기술 개발, 
          <a href="https://aic.hanyang.ac.kr/education/innovation.php">
            Applied AI Graduate Program (인공지능융합혁신인재양성)
          </a>, IITP, 2022~2025
        </li>
        <li>
          제조공정에서의 불량위치 탐지를 위한 비지도학습 및 전이학습 기술 개발, 
          <a href="https://aic.hanyang.ac.kr/education/innovation.php">
            Applied AI Graduate Program (인공지능융합혁신인재양성)
          </a>, IITP, 2022~2025
        </li>
        <li>
          딥러닝 기반 지식추출을 위한 다차원지도학습기술 개발, 생애첫연구 (기초연구사업), 한국연구재단 (NRF), 2022~2025
        </li>
        <li>
          BK21 Grant for Smart City (BK21교육연구단), NRF, 2020~2024
        </li>
      </ul>
    <p class="center-text t60">데이터사이언스 연구실은 열정있는 학생들의 지원을 기다리고 있습니다.</p>
    <p class="center-text">현재 모집중:  학부연구생, 석박사신입생, 박사후연구원</p>
    <p class="center-text">whjung@hanyang.ac.kr로 간단한 소개자료를 보내주시면 감사하겠습니다.</p>

    {{ content }}

</div>
