---
layout: sidebar-framework
sidebar: pub-list
---

<div>
  <p>{{site.data.publications.international}}</p>

  {% for pub_year in site.data.publications.international %}
    <p>{{pub_year}}</p>
    <p></p>{{pub_year.size}}</p>
  {% endfor %}
</div>

<!-- {%- if site.posts.size > 0 -%}

  {% include functions.html func='log' level='debug' msg='Get datetimes value' %}

  {% assign filter = '%Y' %}
  {% include functions.html func='get_datetimes' %}
  {% assign datetimes = return %}

  {% assign keys = datetimes | reverse %}
  {% assign field = 'date' %}
  {% include views/segments.html %}

{%- endif -%} -->
