---
layout: sidebar-framework
sidebar: pub-list
---

<div>
  <h2 class="t60">International</h2>
  {% for pub_year in site.data.publications.international %}
    <h3>{{pub_year[0]}}</h3>
    {% for pub in pub_year[1] %}
      <li>{{pub.title}}</li>
    {% endfor %}
  {% endfor %}

  <h2 class="t60">Domestic</h2>
  {% for pub_year in site.data.publications.domestic %}
    <h3>{{pub_year[0]}}</h3>
    {% for pub in pub_year[1] %}
      <li>{{pub.title}}</li>
    {% endfor %}
  {% endfor %}
</div>

<!-- {%- if site.posts.size > 0 -%}

  {% include functions.html func='log' level='debug' msg='Get datetimes value' %}

  {% assign filter = '%Y' %}
  {% include functions.html func='get_datetimes' %}
  {% assign datetimes = return %}

  {% assign keys = datetimes | reverse %}
  {% assign field = 'date' %}
  {% include views/segments.html %}

{%- endif -%} -->
