---
layout: sidebar-framework
sidebar: pub-list
---

<div>
  {% for pub_year, value in site.data.publications.international %}
    <h3>{{pub_year}}</h3>
    {% for pub in pub_year %}
      <p>{{pub.title}}</p>
    <!-- <p>{{site.data.publications.international.pub_year[0].size}}</p> -->
  {% endfor %}
</div>

<!-- {%- if site.posts.size > 0 -%}

  {% include functions.html func='log' level='debug' msg='Get datetimes value' %}

  {% assign filter = '%Y' %}
  {% include functions.html func='get_datetimes' %}
  {% assign datetimes = return %}

  {% assign keys = datetimes | reverse %}
  {% assign field = 'date' %}
  {% include views/segments.html %}

{%- endif -%} -->
