---
layout: sidebar-framework
sidebar: year-category-list
---

<div class="page-segments">
  <ul class="page-segments-list">
    {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
    {% for year in posts_by_year %}
      <h2 id="{{ year.name }}" class="segment-name">{{ year.name }}</h2>

      {% assign categories = "" %}
      {% for post in year.items %}
        {% for category in post.categories %}
          {% assign categories = categories | append: category | append: ',' %}
        {% endfor %}
      {% endfor %}
      
      {% assign categories = categories | split: ',' | uniq %}
      {% for category in categories %}
        {% if category != "" %}
          <div style="display: flex; align-items: center; gap: 10px;">
            <button class="seminar-list-toggle-btn toggle-btn">▶</button>
            <h3 class="t10 b10 year-link" id="{{ year.name }}{{ category }}" style="display: block">{{ category }}</h3>
          </div>
          <ul class="seminar-list-toggle-list" style="display: none; list-style: none">
            {% assign category_count = 0 %}
            {% for post in year.items %}
              {% if post.categories contains category %}
                {% assign item = post%}
                {%- assign post_item_class = "" -%}
                {%- if item.top -%}
                  {%- assign post_item_class = "top-post" -%}
                {%- endif -%}
                <li class="{{ post_item_class }}">
                  {%- include views/post-item.html -%}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>

<script>
  // 모든 토글 버튼과 리스트를 선택
  const toggleButtons = document.querySelectorAll(".seminar-list-toggle-btn");
  const toggleLists = document.querySelectorAll(".seminar-list-toggle-list");

  toggleButtons.forEach((button, index) => {
    button.addEventListener("click", () => {
      const toggleList = toggleLists[index]; // 해당 버튼의 리스트 찾기

      if (toggleList.style.display === "none") {
        toggleList.style.display = "block"; // 리스트 보이기
        button.textContent = "▼";
      } else {
        toggleList.style.display = "none"; // 리스트 숨기기
        button.textContent = "▶";
      }
    });
  });
</script>