---
layout: sidebar-framework
sidebar: year-list
---

<div class="page-segments">
  <ul class="page-segments-list">
    {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
    {% for year in posts_by_year %}
      <h2 id="{{ year.name }}" class="segment-name">{{ year.name }}</h2>

      {% for post in year.items %}
        {% for category in post.categories %}
          {% assign categories = categories | append: category | append: ',' %}
        {% endfor %}
      {% endfor %}
      
      {% for post in year.items %}
        {% assign item = post%}
        {%- assign post_item_class = "" -%}
        <li class="{{ post_item_class }}">
          {%- include views/post-item.html -%}
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>