<div class="common-list">
  <ul>
    <li>
      <a href="{{ url }}">
        All<span>{{ site.posts.size }}</span>
      </a>
    </li>

    {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
    {% for year in posts_by_year %}
      <li>
        <a href="{{ url }}#h-{{ year.name }}">
          {{ year.name }} <span>{{ year.size }}</span>
        </a>
        <ul>
          {% assign tags = "" %}
          {% for post in year.items %}
            {% for tag in post.tags %}
              {% assign tags = tags | append: tag | append: ',' %}
            {% endfor %}
          {% endfor %}

          {% assign tags = tags | split: ',' | uniq %}
          {% for tag in tags %}
            {% if tag != "" %}
              {% assign tag_count = 0 %}
              {% for post in year.items %}
                {% if post.tags contains tag %}
                  {% assign tag_count = tag_count | plus: 1 %}
                {% endif %}
              {% endfor %}
              <li>
                <a href="{{ url }}#h-{{ year.name }}{{ tag }}">
                  {{ tag | strip }} <span>{{ tag_count }}</span>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>